$font-family: 'Source Sans Pro', sans-serif;

$clr-dark-hlt: rgba(0, 0, 0, 0.7);
$clr-dark-hlt-2: rgba(0, 0, 0, 0.9);
$clr-dark-grad-1: #222222;
$clr-dark-grad-2: #5a5a5a;
$clr-fb-button-blue-1: #39479a;
$clr-fb-button-blue-2: #39579a;
$clr-gp-button-red-1: #f45b45;
$clr-gp-button-red-2: #ed6b58;
$clr-light-hlt: rgba(238, 238, 238, 0.7);
$clr-text: #3c3c3c;
$clr-mooc-red-hlt: rgba(208, 2, 27, 0.2);
$clr-mooc-black-hlt: rgba(0, 0, 0, 0.2);
$clr-mooc-green-hlt: rgba(126, 211, 33, 0.2);
$clr-fb-blue: #4267b2;
$clr-tw-blue: #1da1f2;
$clr-gp-red: #df4d3d;
$clr-white: #ffffff;
$clr-white-1: #f5f5f5;
$clr-white-2: #c3c3c3;
$clr-salmon: #ff7f6d;
$clr-tag-green: #a5d178;
$clr-tag-red: #ec5844;
$clr-grey-dark: #656565;
$clr-grey-light: #b7b7b7;
$clr-border-grey: #e4e4e4;
$clr-success-green: #e5f6d2;
$clr-error-red: #f3a39a;

$text-xlg-h1: 37px;
$text-xlg-h2: 29px;
$text-xlg-h3: 24px;
$text-xlg-h4: 21px;
$text-xlg-h5: 17px;
$text-xlg-h6: 15px;

$text-lg-h1: 37px;
$text-lg-h2: 29px;
$text-lg-h3: 24px;
$text-lg-h4: 21px;
$text-lg-h5: 17px;
$text-lg-h6: 15px;

$text-md-h1: 37px;
$text-md-h2: 29px;
$text-md-h3: 24px;
$text-md-h4: 21px;
$text-md-h5: 17px;
$text-md-h6: 15px;

$text-sm-h1: 35px;
$text-sm-h2: 26px;
$text-sm-h3: 22px;
$text-sm-h4: 19px;
$text-sm-h5: 17px;
$text-sm-h6: 15px;

$text-xs: 13px;

$break-xlarge: 1200px;
$break-large: 992px;
$break-medium: 768px;
$break-small: 576px;
